.actionbloc {
    background-color: #E9F2F2;
    .type {
        * {
            margin-bottom: 10px;
        }
    }
    .textbloc{
        position: relative;
        top:0;
        left: 0;
        padding: 50px 40px;
        overflow: hidden;
    }
}
