
.topbar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  
  .title{
    font-size: 1.2em !important;
    margin-right: 200px;
  }
  *{
    font-size: 1em !important;
    font-weight: 700 !important;
  }
}
