.container{
  padding-left: 30px;
  padding-right: 30px;
}

.bg1 {
  background-color: #CC9423;
}
.bg2 {
  background-color: #E9F2F2;
}
.bg3 {
  background-color: #B2ABA1;
}
.bg4 {
  background-color: #FF2600;
}
.card {
}

