.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.row {
    display: flex;
    padding: 2px 3px;
}

.nameCal {
    flex: 0 0 auto;
    padding-right: 5px;
}

.barCal {
    flex: 1 1 0;
    margin: 2px 0;
    background-color: #f2ede9;
}

.s {
    height: 100%;
    background-color: #ffb74d;
}

.h {
    height: 100%;
    background-color: #7986cb;
}

.t {
    height: 100%;
    background-color: #81c784;
}
