.footer {
  text-align: center;
  .img {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  .teambloc {
    background-color:#FF2600;
    background-size: 100% 100%;
    padding: 35px;
  }
  .bg_team {
    background-color:#273A3C;
    padding: 25px 0px;
  }
  .bg_footer_left {
    background-image: linear-gradient(90deg,#cc9423 15%,transparent 15% 17%,#ff2600 17% 30%, transparent 30% 32.5%, #F2EDE9 32.5% 35%, transparent 35% 37.5%, #ff2600 37.5% 41%, transparent 41% 43%, #F2EDE9 43% 47%, transparent 47% 60%, #ff2600 60% 65%,transparent 65%);
    background-size: auto auto;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bg_footer_right {
    background-image: linear-gradient(90deg, transparent 30%, #ff2600 30% 35%,transparent 35% 40%,  #ff2600 40% 56%,#273a3c 56% 65%, transparent 65% 70%, #ff2600 70% 74%, #273a3c 74% 82%, transparent 82% 85%,#273a3c 85% 100%,);
    background-size: auto auto;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .img_ani {
    position: relative;
    -webkit-animation: footer 5s infinite; /* Safari 4.0 - 8.0 */
    animation: footer 5s infinite;
    top: 30px;
  }
    /* Safari 4.0 - 8.0 */
  @-webkit-keyframes footer {
    0%   {left:0px;}
    25%  {left:250px;}
    50%  {left:250px;}
    75%  {left:0px;}
    100% {left:0px;}
  }

  /* Standard syntax */
  @keyframes footer {
    0%   {left:0px;}
    25%  {left:250px;}
    50%  {left:250px;}
    75%  {left:0px;}
    100% {left:0px;}
  }
}


